.hero-banner {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.hero-banner img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  background: rgb(0 0 0 / 50%);
  padding: 20px;
  border-radius: 8px;
  max-width: 70%;
}

.hero-text h2 {
  margin: 0 0 10px;
  font-size: 6.8rem;
  font-weight: bold;
}

.hero-text p {
  margin: 0;
  font-size: 2.2rem;
  line-height: 1.4;
}

.hero-text strong {
  color: var(--frescopa-color-tertiary);
}

.hero-banner.full {
  max-width: unset;
}
